img {
  border-radius: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

p {
    color: #01579B;
    font-family: "Bookman Old Style";
    font-size: 20px;
    padding: 15px;
}

body {
    background-color: #EDF7FF;
}

.row {
  display: flex;
}

.column {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  height: 100%;
  text-align: center;
}
.column2 {
  flex: 100%;
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
  border: 2px solid #01579B;
  align-items: center;

}

h1 {
    color: #01579B;
    font-family: "Yu Gothic";
    padding: 15px;
}

.nav {
  overflow: hidden;
  background-color: #C9E8FF;
}

.nav a {
  float: left;
  display: block;
  color: #01579B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #01579B;
  color: #C9E8FF;
}

.font {
    font-family: Elephant;
}

audio {
    padding: 20px;
}

.kone {
    border-radius: 50%;
    padding-left: 25%;
    padding-right: 25%;
    float: right;
}