<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <script src="{{ url_for('static', filename='main_menu.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
</head>

<body>
<div class="row">
<div class="column">
<div id ="main-menu">
    <h1>Main Menu</h1>
    <button id="new_game-btn">New Game</button>
    <button id="rules-btn">Rules</button>
    <button id="scoreboard-btn">Scoreboard</button>
    <button id="quit-btn">Quit</button>
</div></div></div>

</body>
</html>