<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Game</title>
    <script src="../../outin_testit/Static_OUTI/main_menu_javascript.js" defer></script>
    <link rel="stylesheet" href="../../start.css">
</head>

<body>
<div class="row">
<div class="column">
<div id ="New Game">
    <h1>New Game</h1>
    <button id="old-user-btn">Old User</button>
    <button id="new-user-btn">New User</button>
    <button id="quit-btn">Quit</button>
</div></div></div>

<audio autoplay="autoplay" controls="controls">
     <source src="{{ url_for('static', filename='musa.mp3') }}"/>
 </audio>
</body>
</html>