<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pause Menu</title>
    <script src="{{ url_for('static', filename='pause_menu.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
</head>

<body>
<div class="row">
        <div class="column">
            <div id="pause-menu">
<h1>Game Paused</h1>
           <button class="menu-button" onclick="window.location.href='/main_menu'">Return to Main Menu</button>
                <button class="menu-button" onclick="window.history.back()">Continue</button>
<audio autoplay="autoplay" controls="controls">
     <source src="{{ url_for('static', filename='musa.mp3') }}"/>
 </audio>
            </div></div></div>
</body>
</html>

