<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the country</title>
    <script src="{{ url_for('static', filename='Pelitesti.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
</head>
<body>

<div class="column">
    <div>
        <h1 id="score"></h1>
        <h1 id="wronganswers"></h1>
        <h1 id="question_num"></h1>
        <h2 id="feedback"></h2>
    </div>
<div id ="Question">
    <h1 id="questionname"></h1>
    <div>
            <div class="column">
                <button class="ans" type="submit" id="A">A</button>

                <button class="ans" type="submit" id="B">B</button>

                <button class="ans" type="submit" id="C">C</button>
            </div>
</div>
</div>
</div>

<audio autoplay="autoplay" controls="controls">
     <source src="{{ url_for('static', filename='musa.mp3') }}"/>
 </audio>

</body>
</html>