<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the country</title>
    <script src="../../Javascript Testit/Pelitesti.js" defer></script>
</head>
<body>

<div class="column">
    <div>
        <h1 id="score"></h1>
        <h1 id="wronganswers"></h1>
        <h1 id="question_num"></h1>
        <h2 id="feedback"></h2>
    </div>
<div id ="Question">
    <h1 id="questionname"></h1>
    <div id="guess">
            <form action="" method="get">
                <button type="submit" id="A">A</button>
            </form>
            <form action="" method="get">
                <button type="submit" id="B">B</button>
            </form>
            <form action="" method="get">
                <button type="submit" id="C">C</button>
            </form>
</div>
</div>
</div>

</body>
</html>