<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
<<<<<<<< HEAD:Python/templates/start.html
  <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
========
  <link rel="stylesheet" href="../start.css">
>>>>>>>> 28b8efab029e2ff72c1149b42bee1e407bef9d1c:Templates/start.html
</head>
<body>
<div class="row">
<div class="column">
    <h1>JOURNEY ACROSS EUROPE</h1>
<<<<<<<< HEAD:Python/templates/start.html
<a href="{{ url_for('main_menu') }}">
    <img src="{{ url_for('static', filename='kone.gif') }}" alt="Start"></a>
========
<a href="../Pauliinan%20testit/Templates/main_menu.html">
    <img src="kone.gif" alt="Start"></a>
>>>>>>>> 28b8efab029e2ff72c1149b42bee1e407bef9d1c:Templates/start.html
    <p>Click image to start!</p> </div></div>

<audio autoplay="autoplay" controls="controls">
     <source src="{{ url_for('static', filename='musa.mp3') }}"/>
 </audio>
</body>
</html>